@import "../scss/variables";
@import "../scss/mixins";

.FormContainer {
  label {
    display: flex;
    padding: $spacing 0;

    &:nth-child(2n + 1) {
      background-color: rgba(black, 0.2);
    }

    @include on-mobile {
      padding: $spacing;
      flex-direction: column;
    }

    .FormContainer__labelText {
      padding: 0.25em;
      flex-basis: 35%;
      line-height: 1.5;
      text-align: right;
      padding-right: 0.5em;

      color: rgba(white, 1);

      @include on-mobile {
        flex-basis: auto;
        text-align: center;
        padding: 0;
        margin-bottom: $spacing;
      }
    }

    .FormContainer__inputContainer {
      display: flex;
      flex-direction: row;

      box-shadow: inset $shadow-small;
      border-radius: $border-radius;
      overflow: hidden;

      background: $glass-gradient;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100%;

      .FormContainer__inputIcon {
        padding: 0.25em 0.5em;
        line-height: 1.5;
        background: $glass-black-color;
      }

      .FormContainer__inputUnits {
        padding: 0.25em 1em;
        line-height: 1.5;
        font-size: 12pt;
        color: rgba(white, 0.75);
        background: $glass-black-color;
      }

      input,
      select {
        width: fit-content;
        display: block;
        padding: 0.25em;
        flex-grow: 1;

        line-height: 1.5;
        font-size: 12pt;
        text-align: right;

        color: white;
        background: none;
        border: none;
        outline: none !important;

        @include on-mobile {
          width: 0; // WTF: otherwise the input won't respond to flex.
          padding-right: 1em;
        }
      }

      option {
        background-color: rgba(black, 0.75);
      }
    }
  }
}
