@import "../scss/variables.scss";

.FormContainer {
  label {
    display: flex;
    padding: 1em 0;

    &:nth-child(2n + 1) {
      background-color: rgba(black, 0.2);
    }

    .FormContainer__labelText {
      padding: 0.25em;
      flex-basis: 35%;
      line-height: 1.5;
      text-align: right;
      padding-right: 0.5em;

      color: rgba(white, 1);
    }

    .FormContainer__inputContainer {
      display: flex;
      flex-direction: row;

      box-shadow: inset $shadow-small;
      border-radius: $border-radius;
      overflow: hidden;

      background: $glass-gradient;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100%;

      .FormContainer__inputIcon {
        padding: 0.25em 0.5em;
        line-height: 1.5;
        background: $glass-black-color;
      }

      .FormContainer__inputUnits {
        padding: 0.25em 1em;
        line-height: 1.5;
        font-size: 12pt;

        color: rgba(white, 0.75);
        background: $glass-black-color;
      }

      input,
      select {
        padding: 0.25em;

        line-height: 1.5;
        font-size: 12pt;
        text-align: right;

        color: white;
        background: none;
        border: none;

        outline: none !important;
      }

      option {
        background-color: rgba(black, 0.75);
      }
    }
  }
}
