@import "../scss/mixins";
@import "../scss/variables.scss";

.GCodeInputBlock {
  padding: $spacing;

  input {
    display: none;
  }
}

.GCodeInputBlock__fileName {
  font-size: 16pt;
  text-align: center;
  margin-bottom: 1rem;

  @include on-mobile {
    font-size: 12pt;
  }
}
