@import "../scss/variables";
@import "../scss/mixins";

.SummaryBlock__table {
  width: 100%;

  border-radius: $border-radius;
  box-shadow: $shadow-small;
  overflow: hidden;
  border-spacing: 0;
  border-collapse: collapse;

  @include on-mobile {
    width: calc(100% - 2em);
    margin: 0 $spacing;
  }

  thead {
    tr {
      background-color: rgba(0, 0, 0, 0.7);
    }

    td.SummaryBlock__stepHeader {
      text-align: center;
    }

    td.SummaryBlock__valueHeader {
      text-align: center;
    }
  }

  tbody tr {
    font-size: 12pt;
    background-color: rgba(0, 0, 0, 0.7);

    &:nth-child(2n + 1) {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  td {
    padding: $spacing ($spacing / 2);
    text-align: center;

    &:first-child {
      padding-left: 5em;
    }
    &:last-child {
      padding-right: 5em;
    }

    @include on-mobile {
      &:first-child {
        padding-left: 0.5em;
      }
      &:last-child {
        padding-right: 0.5em;
      }
    }
  }
}

td.SummaryBlockStep__step {
  width: 35%;

  @include on-mobile {
    width: auto;
  }
}

td.SummaryBlockStep__value {
}
