@import "../scss/variables";
@import "../scss/mixins";

.SummaryBlock__table {
  width: $block-width;

  margin: $spacing / 2 0;

  border-radius: $border-radius;
  box-shadow: $shadow-small;
  overflow: hidden;
  border-spacing: 0;
  border-collapse: collapse;

  @include on-mobile {
    width: 100%;
  }

  thead {
    font-weight: bold;

    tr {
      background-color: $block-bg-title;
    }

    td.SummaryBlock__stepHeader {
      text-align: center;
    }

    td.SummaryBlock__valueHeader {
      text-align: center;
    }
  }

  tbody tr {
    font-size: 12pt;
    background-color: $block-bg-content-alt;

    &:nth-child(2n + 1) {
      background-color: $block-bg-content;
    }
  }

  td {
    padding: $spacing ($spacing / 2);
    text-align: center;

    &:first-child {
      padding-left: 5em;
    }
    &:last-child {
      padding-right: 5em;
    }

    @include on-mobile {
      &:first-child {
        padding-left: 0.5em;
      }
      &:last-child {
        padding-right: 0.5em;
      }
    }
  }
}

td.SummaryBlockStep__step {
  width: 35%;

  @include on-mobile {
    width: auto;
  }
}

td.SummaryBlockStep__value {
}
