@import "./scss/mixins";

.AppContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .IntroContainer,
  .ToolContainer {
    width: 600px;
    margin: 0 1em;

    @include on-mobile {
      width: 100%;
    }
  }

  .ToolContainer {
    @include on-mobile {
      margin: 0;
    }
  }
}
