@import "./scss/variables";
@import "./scss/mixins";

.AppContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .ToolContainer {
    width: 600px;
    margin: 0 $spacing;

    @include on-mobile {
      width: 100%;
      margin: 0;
    }
  }
}
