@import "./scss/variables";
@import "./scss/mixins";

$split-breakpoint: $block-width * 2 + ($spacing * 8);

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: 100%;

  .DarkSide {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: $dark-color;
    box-shadow: $shadow-big;
    z-index: 1;

    @media screen and (min-width: $split-breakpoint) {
      justify-content: flex-end;
      padding: $spacing;
    }
  }

  .LightSide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $spacing * 2;

    background-image: $primary-gradient;
    background-attachment: fixed;
    background-size: cover;

    @media screen and (max-width: $split-breakpoint) {
      align-items: center;
      justify-content: flex-start;
      padding: $spacing;
    }
  }
}
