@import "./scss/variables";

.CopyCode {
  display: block;
  margin: $spacing 0;
  padding: $spacing;
  background-color: $input-bg;
  border-radius: 0.5em;
  box-shadow: $shadow-small;
  line-height: 1;

  &:hover {
    background-color: $input-bg-hover;
    cursor: pointer;
  }
}

.CopyCodeStatus {
  float: right;
}

.CopyCodeStatusText {
  display: inline-block;
  visibility: hidden;
  padding-right: 0.5em;

  &--visible {
    visibility: visible;
  }
}
