@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "./scss/variables";

* {
  font-family: "Roboto Mono", monospace;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.5;
}

a {
  &:link,
  &:visited,
  &:active {
    color: white !important;
  }

  &:hover {
    font-weight: bold;
  }
}
