@import "./scss/variables";
@import "./scss/mixins";

.Intro {
  width: 600px;
  margin: 0 $spacing;

  @include on-mobile {
    width: 100%;
  }

  h2,
  h3 {
    margin-top: 2em;
    margin-bottom: 0;
  }
}
