.Skyline {
  opacity: 0.25;

  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;

  .Skyline__cloud {
    opacity: 0.15;

    position: absolute;
    top: 0;
    width: 40vw;
    height: 40vw;

    background-image: url(cloud.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
  }

  .Skyline__cloud--a {
    left: -30vw;
    top: -25vh;
  }

  .Skyline__cloud--b {
    left: 60vw;
    top: -15vh;
  }

  .Skyline__front,
  .Skyline__back {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position-y: bottom;
    background-size: auto 50vh;
  }

  .Skyline__front {
    background-image: url(sky_front.svg);
  }

  .Skyline__back {
    background-image: url(sky_back.svg);
    opacity: 0.5;
  }
}
