@import "./scss/variables";
@import "./scss/mixins";

.TestShapeContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  margin: 0 20%;

  @include on-mobile {
    margin: 0;
  }

  .TestShape {
    display: block;
    margin: ($spacing / 4);
    text-align: center;

    padding: ($spacing / 2) $spacing;
    background-color: $input-bg;
    border-radius: $border-radius;
    box-shadow: $shadow-small;

    text-decoration: none;

    &:link,
    &:visited,
    &:active {
      color: white;
    }

    &:hover {
      background-color: $input-bg-hover;
    }

    video,
    img {
      max-height: 8em;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}
