@import "~sass-material-colors";

$primary-color: material-color("light-green", "700");

$glass-white-color: rgba(white, 0.1);
$glass-black-color: rgba(black, 0.2);

$spacing: 16px;
$border-radius: $spacing / 2;

$shadow-small: ($spacing / 8) ($spacing / 8) rgba(black, 0.25);
$shadow-big: ($spacing / 4) ($spacing / 4) rgba(0, 0, 0, 0.15);

$block-width: 600px;
$mobile-max-width: 650px;

$block-bg-title: change-color($primary-color, $lightness: 15);
$block-bg-content: black;
$block-bg-content-alt: change-color($primary-color, $lightness: 5);

$input-bg: change-color($primary-color, $lightness: 15);
$input-bg-hover: adjust-color($input-bg, $lightness: 5);
